# http://editorconfig.org
root = true

[*]
indent_style = spaces
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Spaces in coffee
[**.coffee]
indent_style = space

# Json, yml and others
[*.{json,yml,md}]
indent_size = 2
trim_trailing_whitespace = false
