<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="LaraBlockIo Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="BLOCKIO_API_KEY" value="a976-4ceb-196c-526d"/>
        <env name="BLOCKIO_PIN" value="FUnderwood20237457"/>
        <env name="BLOCKIO_VERSION" value="2"/>
    </php>
</phpunit>
